<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0" />
    <switches>
      <add name="NormalSwitch" value="Information" />
      <add name="VerboseSwitch" value="Verbose" />
    </switches>
    <sources>
      <!--the default source for Logger use TimeSplitFileWriterTraceListener-->
      <source name="Default"
              switchName="VerboseSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="defaultListener"
               type="Pandazki.Common.Log.Listeners.TimeSplitFileWriterTraceListener, Pandazki.Common.Log"
               initializeData="Default_{0:yyyyMMddHH}.txt"/>
        </listeners>
      </source>

      <!--source define for Log-->
      <source name="Verbose"
              switchName="VerboseSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="verboseListener"/>
        </listeners>
      </source>
      <source name="Information"
              switchName="VerboseSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="informationListener"/>
        </listeners>
      </source>
      <source name="Warning"
              switchName="VerboseSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="warningListener"/>
        </listeners>
      </source>
      <source name="Error"
              switchName="VerboseSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="errorListener"/>
        </listeners>
      </source>
      <source name="Critical"
              switchName="VerboseSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="criticalListener"/>
        </listeners>
      </source>

      <!--your custom source-->
      <source name="CustomInfoSource"
              switchName="VerboseSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="informationConsoleTraceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--default listener for Log-->
      <add name="verboseListener"
           type="Pandazki.Common.Log.Listeners.TimeSplitFileWriterTraceListener, Pandazki.Common.Log"
           initializeData="Logfile\Verbose_{0:yyyyMMddHH}.txt"
           traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Verbose"/>
      </add>
      <add name="informationListener"
           type="Pandazki.Common.Log.Listeners.TimeSplitFileWriterTraceListener, Pandazki.Common.Log"
           initializeData="Logfile\Info_{0:yyyyMMddHH}.txt"
           traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Information"/>
      </add>
      <add name="warningListener"
           type="Pandazki.Common.Log.Listeners.TimeSplitFileWriterTraceListener, Pandazki.Common.Log"
           initializeData="Logfile\Warning_{0:yyyyMMddHH}.txt"
           traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Warning"/>
      </add>
      <add name="errorListener"
           type="Pandazki.Common.Log.Listeners.TimeSplitFileWriterTraceListener, Pandazki.Common.Log"
           initializeData="Logfile\Error_{0:yyyyMMddHH}.txt"
           traceOutputOptions="Callstack, DateTime">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Error"/>
      </add>
      <add name="criticalListener"
           type="Pandazki.Common.Log.Listeners.TimeSplitFileWriterTraceListener, Pandazki.Common.Log"
           initializeData="Logfile\Critical_{0:yyyyMMddHH}.txt"
           traceOutputOptions="Callstack, DateTime">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Critical"/>
      </add>

      <!--other simple listeners-->
      <!--TextWriterTraceListener for verbose-->
      <add name="verboseTextWriterTraceListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="TextWriterTraceVerbose.txt"
           >
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Verbose"/>
      </add>
      <!--ConsoleTraceListener for info-->
      <add name="informationConsoleTraceListener"
           type="System.Diagnostics.ConsoleTraceListener"
           traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Information"/>
      </add>
      
      <!--your custom listeners-->
    </sharedListeners>
  </system.diagnostics>
</configuration>